.element__like{
    background-image: url(../../../images/like.jpg);
    width: 21px;
    height: 18px;
    border: 0;
    outline: none; 
    background-color: transparent;
    

}
.element__like:hover{
    opacity: 0.6;
}
