.popup__contaner{
    display: flex;
    flex-direction: column;
    max-width: 515px;
    width: 100%;
}
@media screen and (max-width: 500px){
    .popup__contaner{
        margin: 0 35px;
        }
    }