.popup__close{
    cursor: pointer;
    margin-left: auto;
    width: 41px;
    height: 41px;
    border: 0;
    background-image: url(../../../images/Close-Icon.png);
    background-color: transparent;
    background-position: center;
    outline: none;
}
.popup__close:hover{
    opacity: 0.6;
}