@import url(./_add/button_add.css);
@import url(./_edit/button_edit.css);
@import url(./_open-popup/button_open-popup.css);
.button{
    opacity: 1;
    border: 1px solid #FFFFFF;
    background-color: #000000;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}
.button:hover{
    opacity: 0.6;
}